<%- include('includes/head.ejs') %>

    <main>
        <div class="container text-align-center">
            <div class="row">
                <div class="col">
                    <h1 class="title">Contactos</h1>
                    <br><br>
                </div>
            </div>
        <div class="container text-align-center">
            <div class="row row-cols-3">
                <% if (contacts.length > 0) { %>
                    <% for (let contact of contacts) { %>
                        <div class="col">
                            <div class="card text-dark" style="width: 8rem;">
                                <img class="card-img-top" src="/uploads/<%= contact.imagen %>" alt="Contacto">
                                <div class="card-body">
                                    <h5 class="card-title"><%= contact.name %></h5>
                                    <p class="card-text"><%= contact.id %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                <p>No hay contactos registrados</p> 
                <% } %>
                <br><br>
            </div>
        </div>
        <% if (lastContact != '') { %>
            <div class="container text-align-center">
                <div class="row">
                    <div class="col">
                        <br><br>
                        <div class="alert alert-primary" role="alert">
                            El último contacto registrado fue: <%= lastContact %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <% if(privilegios.indexOf('create') >= 0) { %>
            <div class="container text-align-center">
                <div class="row">
                    <div class="col">
                        <br><br>
                        <a href="/contact" class="btn btn-primary">Crear contacto</a>
                    </div>
                </div>
            </div>        
        <% } %>
    </main>

<%- include('includes/foot.ejs') %>